<% layout ("/layouts/boilerplate") %>
<body>
    <div class="row mt-4">
        <div class="col-8 offset-2">
    <h3> Edit Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <br/> 
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%=listing.title%>" type="text" class="form-control" required/>
            <div class="valid-feedback">Title looks good</div>
        </div>
        <br/> 
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" required><%=listing.description%></textarea>
            <div class="valid-feedback">Description looks good</div>
        </div>
        <br/> 
        <div class="mb-3">
            <h2>Original listing image</h2>
            <img src="<%=originalImageUrl%>" />
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image</label>
            <input name="listing[image]" value="<%=listing.image %>" type="file" class="form-control" />
        </div>
        <br/> 
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%=listing.price%>" type="number"class="form-control" />
                <div class="valid-feedback">price looks good</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%=listing.country%>" type="text"class="form-control" />
                <div class="valid-feedback">Country looks good</div>
            </div>
        </div>
        <br/> 
       <div>
        <label for="location" class="form-label">Location</label>
        <input name="listing[location]" value="<%=listing.location%>" type="text" class="form-control" required/>
       </div>
        
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br/> <br/>
        <br/> <br/>
    </div>
</div>

